---
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";
import Tabs from "../components/Tabs.astro";
import Socials from "../components/Socials.astro";

import avatar from "../images/avatar.png";
import twitter from "../images/social/twitter.svg";
import youtube from "../images/social/youtube.svg";
import github from "../images/social/github.svg";
import steam from "../images/social/steam.svg";
import kofi from "../images/social/kofi.png";
---

<Layout
	title="ðŸºGravy's DomainðŸº"
	desc="A place to get to know a bit about Gravydigger, and where to find him"
	url="https://gravydigger.net"
	image="/images/embed.png"
>
	<main>
		<ul role="list" class="link-card-grid">
			<Tabs title="About Me" page="about" />
			<Tabs title="Finding Me" page="contact" />
			<Tabs title="About Webpage" page="web" />
		</ul>

		<div class="content" id="contentAbout">
			<Image src={avatar} alt="" height="256" aspectRatio="1:1" />
			<div class="text">
				<h1 class="heading">
					Hi, I'm <span class="text-gradient">Gravydigger!</span>
				</h1>
				<h2 class="heading">Though most just call me Gravy</h2>
				<p>
					I'm an Australian currently studying Computer Science, and
					create personal SysAdmin & coding projects for fun! As a
					matter of fact, this website was built by me as a personal
					project! I also host D&amp;D sessions for a small group of
					friends weekly using FoundryVTT, as well as host a private
					instance of Nextcloud for me to access my files remotely
					(provided I have internet access).
				</p>
			</div>
		</div>
		<div class="content hidden" id="contentContact">
			<div class="text" id="social">
				<h1>Here's where to find me!</h1>
				<ul>
					<Socials
						icon={twitter}
						alt="Twitter"
						href="http://twitter.gravydigger.net"
						text="Twitter"
						size="24"
					/>
					<Socials
						icon={youtube}
						alt="Youtube"
						href="http://yt.gravydigger.net"
						text="Youtube"
						size="24"
					/>
					<Socials
						icon={github}
						alt="Github"
						href="http://github.gravydigger.net"
						text="Github"
						size="24"
					/>
					<Socials
						icon={steam}
						alt="Steam"
						href="http://steamcommunity.com/id/gravydigger"
						text="Steam"
						size="24"
					/>
					<Socials
						icon={kofi}
						alt="Ko-fi"
						href="https://ko-fi.com/gravydigger"
						text="Ko-fi"
						size="26"
					/>
				</ul>
			</div>
		</div>
		<div class="content hidden" id="contentWeb">
			<div class="text" id="credit">
				<ul>
					<li>
						Made using <a href="https://astro.build/"
							>{Astro.generator}</a
						>
					</li>
					<li>
						View source code on <a
							href="https://github.com/Gravydigger/Gravydigger.github.io"
							>Github</a
						>
					</li>
					<li>
						Avatar &amp; Favicon drawn by <a
							href="https://robynthedragon.carrd.co/"
							>RobynTheDragon</a
						>
					</li>
					<li>
						Background made using <a
							href="https://deep-fold.itch.io/space-background-generator"
							>Space Background Generator</a
						>
					</li>
				</ul>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
		min-width: 100ch;
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 1.5em;
	}
	#social {
		width: 100%;
		text-align: center;
	}
	#id > ul > li {
		list-style: none;
	}
	.text {
		padding: 1em;
		color: var(--accent-orange);
	}
	.heading {
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		animation: animateBG 2s infinite linear;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.content {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 0 0 0.5rem 0.5rem;
		background-position: 100%;
		max-width: 100ch;
	}
	.hidden {
		display: none;
	}
	ul {
		margin-bottom: 0;
	}
	img {
		border-radius: 100%;
		padding: 1em;
	}
	li > a {
		color: var(--accent-orange);
	}

	@keyframes animateBG {
		0% {
			background-position: 0, 0;
		}
		100% {
			background-position: 100%, 0;
		}
	}

	.counter {
		width: fit-content;
	}
</style>
